<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<header>
  {% if isloggedin %}
  <p class="login_status" id="login">안녕하세요, {{username}} 님! <button type="button" onclick="document.location = 'logout'">로그아웃</button></p>
  {% else %}
  <p class="login_status" id="logout">로그인하지 않은 상태입니다.</p>
  {% endif %}
</header>
{% block content %}
{% endblock %}
<script src="constant.js"></script>
{% block script %}
{% endblock %}
<footer>
  <a href=http://www.samkass.com/theories/RPSSL.html>RPSSL은 Sam Kass와 Karen Bryla에 의해 고안되었습니다.</a>
</footer>
</body>
</html>
